# Testing dependencies
pytest

# Data science & machine learning dependencies
jupyter
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
opencv-python
spacy
nltk

# Web dependencies
httpx
scrapy
scrapy-splash
fastapi[all]